.carousel-indicators {
    li{
        height:0px !important;
    }
    
}
.boxShadow{
    box-shadow: 1px 1px 38px 43px rgba(215,196,196,0.84);
    -webkit-box-shadow: 1px 1px 38px 43px rgba(215,196,196,0.84);
    -moz-box-shadow: 1px 1px 38px 43px rgba(215,196,196,0.84);

}
