label, a{
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    display: inline-block;
    color: inherit;
    transition: border 0.4s;
    
    padding: 3px 2px;
    &:hover{
     
    }
  }
  
  .layout{
    display: grid;
    height: 100%;
    width: 100%;
    overflow: hidden;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1fr 1fr;
  }
  
  input[type="radio"]{
    display: none;
  }
  
  label.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    // border-bottom: 2px solid #8e44ad;
    background: #ecf0f1;
    user-select: none;
    transition: background 0.4s, padding-left 0.4s;
    padding-left: 0;
    input[type="radio"]:checked + .page + &{
      background: linear-gradient(0deg
      , rgba(96,9,240,1) 0%, rgba(129,5,240,1) 100%);
      color: #ffffff;
      padding-left: 20px;
      span{
        
      }
      svg{
        opacity: 1;
      }
    }
    span{
      padding-left: 0px;
      position: relative;
    }
    svg{
      left: 0;
      top: -3px;
      position: absolute;
      width: 15px;
      opacity: 0;
      transition: opacity 0.2s;
    }
  }
  
  .page{
    grid-column-start: 1;
    grid-row-start: 2;
    grid-column-end: span 3;
   
    display: flex;
    align-items: center;
  }
  
  .page-contents > *{
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.4s, transform 0.4s;
    @for $c from 1 through 20{
      &:nth-child(#{$c}){
        transition-delay: 0.4s + ($c * 0.4s);
      }
    }
  }
  
  input[type="radio"] + .page{
    transition: transform 0.4s;
    transform: translateX(100%);
  }
  
  input[type="radio"]:checked + .page{
    transform: translateX(0%);
    .page-contents > *{
      opacity: 1;
      transform: translateY(0px);
    }
  }
  
  .page-contents{
    max-width: 100%;
    
  }